@model IEnumerable<finalmvcfirst.CustomerOrder>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CutomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CutomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingAddress)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "index", new { CustomerID = item.CustomerID }) |
            
        </td>
    </tr>
}
    
</table>
